<!-- prehome page -->
<span style="overflow: visible;">
  <div id="prehomepage" class="flex-container">
    <div class='spacer-mid'></div>
    <section class="image-buttons-container">
      <div class="title">
        <h3>NUESTROS PROYECTOS</h3>
      </div>
      <%= link_to  image_tag('https://s3.amazonaws.com/si-yo-fuera-presidente/assets/seamos-btn.png', class: 'image-btn left'), home_path %>
      <a href="http://sifuerapresidente.co" target="_blank">
        <div class="image-btn right">
          <img src="https://s3.amazonaws.com/si-yo-fuera-presidente/assets/sfp-btn.png" alt="">
        </div>
      </a>
    </section>
    <section class="mid-section-container">
      <div class="fist">
        <img src="https://s3.amazonaws.com/si-yo-fuera-presidente/assets/fist-2.png" alt="">
      </div>
      <div class="right-side">
        <div class="title">¿CÓMO LOGRAMOS EL CAMBIO?</div>
        <span class="caption">
          <h3> Poder Ciudadano </h3>
          <p> Involucramos a los ciudadanos en procesos de decisión política para que hagan valer su voto en los espacios democráticos. </p>
        </span>
        <span class="caption">
          <h3> Compromiso Político </h3>
          <p> Vinculamos a los políticos para que se comprometan a acatar las desiciones de sus votantes </p>
        </span>
      </div>
    </section>
    <section class="bottom-section-container">
      <div class="title" id="who-are-we">¿ Quiénes SOMOS ?</div>
      <div class="caption">
        SeamOS es una plataforma ciudadana que busca<br>utilizar las TIC para actualizar la democracia.
      </div>
      <div id="buttons-container">
        <div id="btn-1" class="btn square">
          <h3>Qué pasa con tu voto</h3>
        </div>
        <div id="btn-2" class="btn square">
          <h3>Nuestra Historia</h3>
        </div>
        <div id="btn-3" class="btn square">
          <h3>Nuestro Equipo</h3>
        </div>
        <div id="btn-4" class="btn square">
          <h3>Socios y aliados</h3>
        </div>
      </div>
      <div>
        <span id="info-1" class="info">
          A través de SeamOS, podremos sentar un voto de opinión sobre las propuestas que se presentan en el Concejo de Bogota. Los representantes han firmado voluntariamente un manifiesto con el cual se comprometen a suscribir sus propuestas en la plataforma y actuar conforme a lo manifestado por los ciudadanos, y aunque el voto en SeamOS no podrá ir en contravía de la Ley de Bancadas, sí podemos asegurar que valdrá para activar conversaciones, afectar decisiones y fortalecer la democracia.
        </span>
        <span id="info-2" class="info">
          En un país convulsionado por la guerra e invadido por la corrupción, nos juntamos unos jóvenes para convertir la indignación en acción. Como parte de una generación transformada por las nuevas tecnologías, nos dimos cuenta que la solución podía estar, literalmente, al alcance de nuestras manos, y es así que creamos una herramienta que volviera el poder a donde realmente corresponde: al ciudadano. Bienvenidos a SeamOS. En Colombia, la era de la democracia digital ha comenzado.
        </span>
        <span id="info-3" class="info">
          <div class="team-members">
            <div class="team-member one">
              <div class="name">Nicolás<br class="breaker">Díaz</div>
              <div class="profession">Politólogo</div>
              <div class="role">Director</div>
            </div>
            <div class="team-member two">
              <div class="name">Juan Carlos <br class="breaker">Rodríguez</div>
              <div class="profession">Economista</div>
              <div class="role">Administrativo</div>
            </div>
            <div class="team-member three">
              <div class="name">Andrea <br class="breaker"><!-- react-text: 108 -->Mora</div>
              <div class="profession">Internacionalista</div>
              <div class="role">Outreach Político</div>
            </div>
            <div class="team-member four">
              <div class="name">David <br class="breaker">Núñez</div>
              <div class="profession">Politólogo</div>
              <div class="role">Outreach Político</div>
            </div>
            <div class="team-member five">
              <div class="name">Andrés <br class="breaker">Márquez</div>
              <div class="profession">Abogado</div>
              <div class="role">Outreach Político</div>
            </div>
            <div class="team-member six">
              <div class="name">Alexander <br class="breaker">Quiceno</div>
              <div class="profession">Ingeniero</div>
              <div class="role">Programación</div>
            </div>
            <div class="team-member eight">
              <div class="name">Karen <br class="breaker">Fonseca</div>
              <div class="profession">Diseñadora Gráfica</div>
              <div class="role">Comunicaciones</div>
            </div>
          </div>
        </span>
        <span id="info-4" class="info">
          <div class="allies row">
            <div class="ally one col-md-6"></div>
            <div class="ally two col-md-6"></div>
            <div class="ally three col-md-4"></div>
            <div class="ally four col-md-4"></div>
            <div class="ally five col-md-4"></div>
            <div class="ally six col-md-6"></div>
            <div class="ally seven col-md-6"></div>
          </div>
        </span>
      </div>
    </section>
  </div>
  <div id="homepage">
    <div class="newsletter-container">
      <div class="title">Suscríbete a nuestro newsletter</div>
      <div class="newsletter">
          <%= form_for(Subscription.new) do |form| %>
            <div class="input-group">
              <%= form.text_field :email, class: "form-control", placeholder: "correo" %>
              <span class="input-group-btn">
                <%= form.button "ENVIAR", class: "btn btn-secondary", type: 'submit'%>
              </span>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</span>




