<div class="card card-inverse text-center">
  <div class="card-block">
    <h4 class="card-title"><%=stat%></h4>
    <h6 class="card-subtitle mb-2 text-muted"><%=comment%></h6>
    <p class="card-text"></p>
  </div>
</div>
