<div id="dashboard" class="row">
  <div>
    <div class="col-sm-6 my-buttons-container">
      <center>
        <%= link_to t(".validate_users"), validate_users_path,
          class: "btn btn-info btn-lg" %>
      </center>
    </div>
    <div class="col-sm-6 my-buttons-container">
      <center>
        <%= link_to "#{t(:create)} #{Poll.model_name.human}",
          new_poll_path, class: "btn btn-info btn-lg" %>
      </center>
    </div>
  </div>
</div>
