<div id="dashboard" class="row">
  <div>
    <div class="col-sm-12 my-buttons-container">
      <center>
        <%= link_to admin_validate_users_path do %>
          <%= image_tag("validate_users_button.png", class: '')  %>
        <% end %>
      </center>
    </div>
  </div>
</div>
