<div id="dashboard" class="row">
  <div>
    <div class="col-sm-6 my-buttons-container">
      <center>
        <%= link_to validate_users_path do %>
          <%= image_tag("validate_users_button", class: '')  %>
        <% end %>
      </center>
    </div>
    <div class="col-sm-6 my-buttons-container">
      <center>
        <%= link_to new_poll_path do %>
          <%= image_tag("create_poll_button", class: '')  %>
        <% end %>
      </center>
    </div>
  </div>
</div>
