<%= link_to poll_path(poll), class: 'poll-link' do %>
  <div class="row text-preview">
    <div class="col-10 t-title">
      <%= poll.title %>
    </div>
    <div class="col-2 t-link">
      Leer
      <i class="fa fa-eye"></i>
    </div>
  </div>
<% end %>