<div id='intro'>
  <div class="center-flex">
    <div class="col-12">
      <%= image_tag('cloudFormWithText.png', id: 'cloud') %>
    </div>
  </div>
  <div class="center-flex">
    <div class="col-12">
      <%= image_tag('infographyText.png', id: 'infography')  %>
    </div>
  </div>
</div>
