<div id="admin" class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel-body">
      <center><h4> Administración de Seamos</h4></center>
      <hr class="hr" />
      <%= link_to t(".sign_in"), '/auth/facebook', class: "btn btn-lg btn-facebook btn-block" %>
    </div>
  </div>
</div>
