<div id="admin" class="">
  <div class="admin-container">
    <div class="panel-container">
      <center><h4> Administración de Seamos</h4></center>
      <hr class="hr" />
      <%= link_to t(".sign_in"), '/auth/facebook', class: "btn btn-lg btn-facebook btn-block" %>
    </div>
  </div>
</div>
