<div id='intro' class='row'>
  <div class="row">
    <div class="col-xs-push-0 col-sm-push-1 col-md-push-3 col-sm-10 col-md-6 col-xs-12">
      <%= image_tag('infographyText', id: 'infography')  %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-push-0 col-sm-push-1 col-md-push-3 col-sm-10 col-md-6 col-xs-12">
      <%= image_tag('downloadApp') %>
      <%= image_tag('appsStores') %>      
    </div>
  </div>

</div>
