<div class="col-md-12">
  <%= image_tag "logo.png", class: "center-block"%>
  <h1><%= t ".sign_in_invitation"%></h1>
  <h2>
      <%= link_to t(".sign_in"), '/auth/facebook', class: "btn btn-default" %>
  </h2>
</div>