<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Gracias por suscribirte</h2>
    <p>Ahora recibirás las últimas noticias de seamOS.</p>
    <p>Puedes anular tu subscripción haciendo click <%= link_to 'aquí', settings_unsubscribe_url(id: @unsubscribe) %>. </p>
  </body>
</html>
