<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por suscribirte</h1>
    <p>Ahora recibirás las últimas noticias de seamOS (... acá puede decir cualquier cosa ...)</p>
    <p>Puedes anular tu subscripción haciendo click <%= link_to 'aquí', settings_unsubscribe_url(id: @unsubscribe) %>. </p>
  </body>
</html>
