<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      El formulario contiene <%= "error".pluralize(object.errors.count, I18n.default_locale) %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>