<div id="homepage">
  <div class="background-container top"></div>
  <div class="mid-container">
    <div class="left-col">
      <div class="title">
        <h1>Temas de Interés</h1>
      </div>
      <section id="tags-component">
        <%= render 'tags/tags_list' %>
      </section>
    </div>
    <div class="right-col">
      <div id="poll-page">
        <div class="order-select-wrapper">
          <span class="order-string"> Ordenar 
          </span>
          <select name="" class="order-select">
            <option value="most-voted-first"> Propuestas más votadas 
            </option>
            <option value="newest-first"> Propuestas recientes 
            </option>
            <option value="nearest-closing-date-first"> Propuestas cercanas al cierre 
            </option>
            <option value="by-user-interests"> Propuestas según tus intereses 
            </option>
          </select>
          <div id="summary-wrapper">
            <span class="polls-summary-text"> Resumen de propuestas 
            </span>
            <a class="summary-btn-wrapper" href="#/summary">
              <span class="polls-summary-btn"> Ver + 
              </span>
            </a>
          </div>
        </div>
        <div class="polls-wrapper">
          <% @polls.each do |poll| %>
            <%= render 'polls/partials/poll', :poll => poll %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>