<div id="homepage">
  <div class="background-container top"></div>
  <div class="mid-container">
    <div class="left-col">
      <div class="title">
        <h1>Temas de Interés</h1>
      </div>
      <section id="tags-component">
        <%= render partial: 'tags/tags_list' %>
      </section>
    </div>
    <div class="right-col">
      <div id="poll-page">
        <div class="order-select-wrapper">
          <span class="order-string"> Ordenar 
          </span>
            <%= form_tag({controller: "home", action: "index", anchor: 'poll-page'}, method: "get") do %>
              <%= select_tag(:order_by, options_for_select({'Propuestas más votadas': "most-voted-first", 'Propuestas recientes': "newest-first", 'Propuestas cercanas al cierre': "nearest-closing-date-first", "Propuestas según tus intereses": "by-user-interests" }, params[:order_by] ), {class: "order-select", onchange: 'this.form.submit();'}) %>
            <% end %> 
          <div id="summary-wrapper">
            <span class="polls-summary-text"> Resumen de propuestas 
            </span>
            <a class="summary-btn-wrapper" href="#/summary">
              <span class="polls-summary-btn"> Ver + 
              </span>
            </a>
          </div>
        </div>
        <div class="polls-wrapper">
          <% if @polls.empty? %>
            <p>Por favor inicia sesión y selecciona tus temas de interés</p>
          <% end %>
          <% @polls.each do |poll| %>
            <%= render partial: 'polls/partials/poll_preview', locals: {poll: poll} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>