<div style="width: 50%; margin: auto">  
  <h4>Aquí puedes anular tu subscripción al newsletter de SeamOS</h4>
  <p>Al anular tu subscripción no volverás a recibir mensajes de nuestra plataforma </p>
  <div class="" style="
      background-color: #00800047;
      height: 200px;
      width: 200px;
      margin: auto;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;">
    La suscripción de tu correo <%= params[:email] %> a nuestro newsletter ha sido correctamente anulada.

  </div>
  <a href="<%= root_url %>"> Volver a la plataforma</a>  
</div>
