<div style="width: 50%; margin: auto">
  <h4>Aquí puedes anular tu subscripción al newsletter de SeamOS</h4>
  <p>Al anular tu subscripción no volverás a recibir mensajes de nuestra plataforma </p>
  <%= form_for(@subscription, url: settings_update_path(id: @subscription.id)) do |f| %>
    <%= f.submit 'Anular suscripción' %>
    <%= link_to 'Cancelar', root_url %>
  <% end %>
</div>
