<div class="mdl-list__item">
  <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-avatar">info</i>
    <span><%= debate.title %></span>
  </span>
  <span class="mdl-list__item-primary-content">
    <% if debate.published %>
      <i class="material-icons mdl-list__item-avatar">done</i>
      <span><%= t('.published_debate') %></span>
    <% else %>
      <i class="material-icons mdl-list__item-avatar">cancel</i>
      <span><%= t('.unpublished_debate') %></span>
    <% end %>
  </span>
  <%= link_to poll_change_debate_state_path(@poll, debate), class: "mdl-list__item-secondary-action" do%>
    <i class="material-icons" style="font-size:42px;">navigate_next</i>
  <% end %>
</div>
