<h1><%= t :create %> Tema </h1>

<div class="col-md-6 margin-auto">
  <%= render 'form', tag: @tag %>
  <h4 class="center"> <%= t(".available_tags") %> </h4>
  <% @location_from = "new_tags" %>
  <%= render 'tag_list', tags: Tag.all %>
</div>
