<div id='digital-era' class="container">
  <div class="row">
    <div id="main-banner-wrapper">
      <div id="main-banner">
        <%= image_tag('digital-era-banner.png') %>
      </div>
    </div>
  </div>
  <div class="spacer-mid"></div>
  <div class="row">
    <div id='' class="justified">
      <p>
        En los últimos años alrededor del mundo como resultado de su desempeño en época electoral,
        algunos partidos tradicionales han desaparecido, o al menos han perdido su relevancia.
        Esta situación ha dado lugar a la noción de que quizás los partidos no sean necesarios
        y que es posible participar en política sin ellos.
      </p>
      <p>
        Se puede seguir hablando de democracia sin un sistema de partidos? Para abordar este
        preocupante interrogante, SeamOS Democracia Digital y la Fundación Konrad Adenauer
        Colombia han elaborado esta publicación, que tiene como objetivo fortalecer a los partidos
        y movimientos políticos, así como al ejercicio de la representación en la era digital,
        mediante una propuesta de innovación y el ofrecimiento de una serie de metodologías adaptadas
        especialmente para que los partidos puedan ponerse al día y recuperar su rol central en la democracia.
      </p>
    </div>
  </div>
  <div class="spacer-mid"></div>
  <div id='color-buttons-container' class="row">
    <div class="color-button col-md-3 one">
      <div class="title">
        Presentación
      </div>
      Konrad Adenauer Stiftung
    </div>
    <div class="color-button col-md-3 two">
      <div class="title">
        Intro
      </div>
      Democracia, representación y partidos políticos en la era digital
    </div>
    <div class="color-button col-md-3 three">
      <div class="title">
        Cap.1
      </div>
      Democracia en la cultura y la tecnología del siglo XXI
    </div>
    <div class="color-button col-md-3 four">
      <div class="title">
        Cap.2
      </div>
      Experiencias de innovación política
    </div>
    <div class="color-button col-md-3 five">
      <div class="title">
        Cap.3
      </div>
      PartidOS politicOS abiertOS
    </div>
    <div class="color-button col-md-3 six">
      <div class="title">
        Cap.4
      </div>
      De la democracia desconectada a la democracia hiperconectada
    </div>
    <div class="color-button col-md-3 seven">
      <div class="title">
        Cap.5
      </div>
      Conclusiones y recomendaciones para partidos políticos
    </div>
    <div class="color-button col-md-3 eight">
      <div class="title">
        Cap.6
      </div>
      Metodologías para la innovación
    </div>
  </div>
  <div class='big-info justified row one'>
    <span class="ex">X</span>
    <div class="title">
      Presentación <br>
      Konrad Adenauer Stiftung
    </div>
    <p>
      En la actualidad se habla de innovación, nuevas tecnologías, co-working, co-creación, versiones 2.0, 3.0 y hasta 4.0,
      entre muchos otros términos que demuestran que la era digital va a un ritmo acelerado y que está permeando todos los
      sectores de la sociedad. En la música, en el emprendimiento, en la infraestructura, en las empresas, en los asuntos
      públicos y gubernamentales, se vienen dando transformaciones que implican no solo avances tecnológicos, sino también
      nuevas formas de participación e involucramiento de la ciudadanía, los usuarios y los consumidores.
    </p>
    <p>
      Si todas las esferas de la sociedad se están adaptando a los desafíos de la era digital, la política no se puede
      quedar atrás.
    </p>
    <p>
      En los últimos años alrededor del mundo como resultado de su desempeño en época electoral, algunos partidos
      tradicionales han desaparecido, o al menos han perdido su relevancia. Esta situación ha dado lugar a la noción
      de que quizás los partidos no sean necesarios y que es posible participar en política sin ellos.
    </p>
    <p>
      Sin embargo, es claro que el resultado para la democracia sería nefasto. Los editores de esta publicación y las
      organizaciones que representan, no pueden imaginarse una democracia funcional sin un sistema de partidos. Por ello,
      la respuesta a esta problemática yace en la adaptación, la transformación y la experimentación constantes.
    </p>
  </div>
  <div class='big-info justified row two'>
    <span class="ex">X</span>
    <div class="title">
      Democracia, representación y partidos políticos en la era digital <br>
      Nicolás Díaz-Cruz y Carlos Andrés Pérez Múnera
    </div>
    <p>
      Nos movemos entre contradicciones serias: mientras que la sociedad hace cada vez más explícita su indignación
      frente a demandas puntuales todos los días, ésta obtiene cada vez menos respuestas efectivas por parte de  los
      gobiernos frente a sus intereses; aunque la gente manifiesta no estar satisfecha con la democracia, es el momento
      histórico en el que más contacto y capacidad de negociación tiene con sus gobernantes; si bien hoy en día se
      produce más contenido que nunca, poco de ese contenido está destinado a co-construir y aportar ideas para mejorar
      su calidad de vida; a pesar de que en la actualidad se consume más información que nunca en la historia, siguen
      existiendo enormes brechas de acceso a la información y al conocimiento; aunque la ciudadanía genera diariamente
      opinión pública, ésta se encuentra alienada por el consumo de falsos consensos o de ruido mediático, o simplemente
      banaliza problemas y se reproduce la falta de movilidad política.
    </p>
    <p>
      Las oportunidades que nos brindan las tecnologías de la información y las comunicaciones generan todo tipo de
      reducción de costos. Sirven, por ejemplo, para conectar ideas, intereses y propuestas; co-crear, priorizar y
      amplificar planes de gobierno; discutir y construir normas y políticas públicas; asignar y priorizar presupuestos;
      mejorar la información pública; hacer transparente el diseño y la ejecución de política pública mediante la apertura
      de datos e información, así como de trayectorias, propuestas, declaraciones juramentadas, presupuestos y extractos
      de tomadores de decisión; y mejorar el periodismo de datos, entre otros.
    </p>
  </div>
  <div class='big-info justified row three'>
    <span class="ex">X</span>
    <div class="title">
      Democracia en la cultura y  la tecnología del siglo XXI <br>
      David Núñez Amórtegui
    </div>
    <p>
      La tecnología ha evolucionado a pasos gigantescos, desde las lanzas de piedra hasta la revolución de las tecnologías
      de la información y la comunicación que vivimos en la actualidad. La cultura cambia constantemente y siempre lo hace
      en relación con la tecnología disponible: la máquina de vapor transformó para siempre las formas de producción, la
      iluminación eléctrica abrió la puerta a comportamientos inimaginados para la vida nocturna, el cine cambió la manera
      de contar historias y los medios digitales han creado nuevas formas de comunicarnos, de vender y comprar, de
      movilizarnos y hasta de conocer personas.
    </p>
    <p>
      Sin embargo la democracia del siglo XII sigue utilizando tecnologías del siglo III a. C. y del siglo XI, el papel y
      la imprenta, junto con instituciones creadas por la cultura del siglo XVII. Sin embargo hoy es posible encontrar que
       un estudiante es empleado, activista y, al tiempo, logra incidir en la legislación y la administración, todo a
        través de su teléfono celular. Muestra de la necesidad y la posibilidad de que las instituciones democráticas y
        los partidos políticos pueden y deben adaptarse a la cultura y la tecnología actual.
    </p>
  </div>
  <div class='big-info justified row four'>
    <span class="ex">X</span>
    <div class="title">
      Experiencias de innovación política <br>
      David Núñez Amórtegui y Cristian León Coronado
    </div>
    <p>
      En latinoamérica solo el 30% de la población está satisfecha con la democracia, 51% de la población no tiene
      “ninguna confianza” en los partidos políticos y 33% en las instituciones electorales, no obstante, alrededor
      del 80% piensa que la democracia es la mejor forma de gobierno. Entonces ¿Qué pasa? El problema no es la democracia
      sino la forma que ha adoptado su institucionalidad.
    </p>
    <p>
      Frente a esta situación se vienen dando apuestas por transformar la democracia, por innovar en las relaciones de poder:
      el Partido de la Red y la campaña de Mauricio Macri en Argentina, Wikipolítica en México, Muitas y Bancada Activista
      en Brasil, Barcelona en Comú y Podemos en España, la campaña de Barack Obama en Estados Unidos de América y el Movimento
      Cinque Stelle en Italia, son experiencias que han transformado la manera de organizarse, de financiarse, de tomar decisiones,
      de comunicar y de involucrar a la ciudadanía.
    </p>
  </div>
  <div class='big-info justified row five'>
    <span class="ex">X</span>
    <div class="title">
      PartidOS políticOS abiertOS <br>
      Sebastian Camilo Guanumen Parra
    </div>
    <p>
      Existe, en Colombia y el mundo, una ciudadanía que es cada vez más activa en en el desarrollo y la defensa de causas
      (ambientales, animalistas, culturales, derechos, paz, desarrollo sostenible, movilización activa, huertas urbanas, etc).
      Una ciudadanía que exige unas instituciones políticas que potencien y movilicen esas causas a espacios de toma de decisión.
       Una ciudadanía que se ha venido adaptando a los cambios tecnológicos y que exige lógicas abiertas y más canales de participación
        y de democracia directa. Esto ha generado una necesidad de transformación en los partidos políticos.
    </p>
    <p>
      En este capítulo se presenta una propuesta de lo que llamamos “partidos políticos abiertos”.
    </p>
    <p>
      Es una apuesta que entiende los pilares del gobierno y el estado abierto (transparencia, participación y colaboración) como base
       fundamental para llevar a los partidos políticos a mejorar sus procesos de democracia interna, fortalecer la interacción con
       sus bases y potenciar la comunicación con la ciudadanía activa. Así mismo busca presentar una serie de herramientas tecnológicas
        y plataformas digitales para poder “abrir los partidos” a los ciudadanos y poder recuperar la confianza mediante ejercicios
        colectivos e individuales de toma de decisión e incidencia en los espacios de poder al interior de los partidos.
    </p>
  </div>
  <div class='big-info justified row six'>
    <span class="ex">X</span>
    <div class="title">
      De la democracia desconectada a la democracia hiperconectada <br>
      Juliana Hernández de la Torre y Andrea L. Mora Lara
    </div>
    <p>
      ¿Qué emoción le genera la política a la ciudadanía?
    <p>
    </p>
      La generación que se comunica con los pulgares y que habita espacios digitales no se siente conectada con los partidos políticos
      ni con sus representantes. Pero esto no significa que haya dejado de tener causas políticas, al contrario, ha decidido utilizar
      los canales de comunicación  para resignificar su ejercicio ciudadano que a través de mensajes dota de identidad y le permite
      construir nuevos imaginarios democráticos. Y es así como se van generando emociones que permiten la unión, movilización y participación
      ciudadana. Entender esto es la tarea pendiente de los partidos políticos, pero insertarse en esta nueva manera de sentir y vivir
       la política es el desafío.
    </p>
    <div class="title">
      Game over: mujeres al poder
    </div>
    <p>
      El juego de la política como un juego para hombres, ¡ha llegado a su fin!, y los beneficios son tangibles pero invisibilizados. Como
      una versión mejorada de videojuegos, la política pasa por un momento de reinvención y reconfiguración en la que los partidos políticos y
      las fuerzas alternativas que surjan en los próximos años, determinarán quiénes sean mayorías en las instancias de poder. Las oportunidades
      que están perdiendo los partidos políticos tradicionales y la sociedades en general al no promover la participación real de las mujeres,
       es una pérdida para el bienestar de las sociedades, pero también para ampliar las audiencias y la masa electoral que puedan tener los
       partidos hoy
    </p>
  </div>
  <div class='big-info justified row seven'>
    <span class="ex">X</span>
    <div class="title">
      Conclusiones y recomendaciones para partidos políticos <br>
      Nicolás Díaz-Cruz
    </div>
    <p>
      La innovación política no se presenta como la adopción de una nueva tecnología, o de una nueva narrativa, sino como la búsqueda
      constante de soluciones alternativas a problemas de toda la vida en los procesos de deliberación (toma de decisiones), de
      construcción de agendas, de la acción colectiva y de las relaciones de poder. Es decir, la innovación política no puede ser
      confundida con digitalizar procesos. La innovación política es, por el contrario, un ejercicio que busca dar soluciones a
      problemáticas de la política a través de nuevos o viejos métodos, mecanismos, herramientas o prácticas que reemplazan ejercicios
      predominantes.
    </p>
    <p>
      Las posibilidades que nos plantean las nuevas tecnologías de la información y las comunicaciones de unir a distintas multitudes en
      torno a causas o peticiones comunes, de conversar a gran escala, de reposar y abrir conocimiento, invitan a sopesar las amenazas al
      sistema democrático que limita la utilización de estas herramientas al mercadeo político y la generación de consensos
      (falsos y verdaderos) de opinión pública. La flexibilidad y la inmediatez que necesitan las nuevas configuraciones estatales plantean
       retos adicionales en el agenciamiento de intereses colectivos e individuales en la configuración estatal y de los partidos políticos.
    </p>
  </div>
  <div class='big-info justified row eight'>
    <span class="ex">X</span>
    <div class="title">
      Metodologías para la innovación <br>
      Sebastian Camilo Guanumen Parra y Andrea L. Mora Lara
    </div>
    <p>
      Incidir en política requiere de estrategia y de método. En este último es donde se materializa el ejercicio de innovación política.
      Por esto, es importante el diseño y desarrollo de metodologías análogas que a manera de ruta permitan aplicar, replicar y construir
       procesos de transformación y fortalecimiento al interior de cualquier organización política.
    </p>
     <p>
      Presentamos una serie de metodologías que han sido modificadas para abordar los retos que tienen los partidos políticos en la era digital.
    </p>
  </div>
  <div class="spacer-mid hide-on-mobile"></div>
  <div class="row">
    <div id="button-wrapper">
      <a id='button' href="https://s3.amazonaws.com/misc-assets-seamos/PARTIDOS+POLI%CC%81TICOS+EN+LA+ERA+DIGITAL.pdf" target="_blank">
        DESCARGAR EL LIBRO
      </a>
    </div>
  </div>
  <div class="spacer-big hide-on-mobile"></div>
</div>