<div id='digital-era' class="container">
  <div class="row">
    <div id="main-banner-wrapper">
      <div id="main-banner">
        <%= image_tag('digital-era-banner.png') %>
      </div>
    </div>
  </div>
  <div class="spacer-mid"></div>
  <div class="row">
    <div id='' class="justified">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ligula non arcu vehicula ullamcorper.
        Praesent varius semper enim vitae egestas. Curabitur purus diam, ultricies vitae sodales id, mattis ut nisl.
        Curabitur eget dolor rutrum, consequat nulla placerat, auctor ante. Sed cursus mi id augue condimentum semper.
        Nulla lacinia quis nunc sit amet malesuada. Donec vitae mollis odio. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. Phasellus sodales, ipsum posuere venenatis posuere, mi turpis lobortis
        tellus, ut ultrices lorem risus non eros.
      </p>
      <p>
        Morbi id mi quis felis facilisis cursus. Morbi ac malesuada magna. Nullam sagittis mi ipsum, ut porta neque egestas at.
        Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
        massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
        mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.
      </p>
    </div>
  </div>
  <div class="spacer-mid"></div>
  <div id='color-buttons-container' class="row">
    <div class="color-button col-md-3 one">
      <div class="title">
        Presentación
      </div>
    </div>
    <div class="color-button col-md-3 two">
      <div class="title">
        Intro
      </div>
    </div>
    <div class="color-button col-md-3 three">
      <div class="title">
        Cap.1
      </div>
    </div>
    <div class="color-button col-md-3 four">
      <div class="title">
        Cap.2
      </div>
    </div>
    <div class="color-button col-md-3 five">
      <div class="title">
        Cap.3
      </div>
    </div>
    <div class="color-button col-md-3 six">
      <div class="title">
        Cap.4
      </div>
      De la democracia desconecta a la democracia hiperconectada
    </div>
    <div class="color-button col-md-3 seven">
      <div class="title">
        Cap.5
      </div>
    </div>
    <div class="color-button col-md-3 eight">
      <div class="title">
        Cap.6
      </div>
    </div>
  </div>
  <div class='big-info justified row one'>
    <span class="ex">X</span>
    <div class="title">
      Cap.1 De la democracia desconecta a la democracia hiperconectada
    </div>
    <p>
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.Morbi id mi quis felis facilisis cursus. Morbi ac malesuada magna. Nullam sagittis mi ipsum, ut porta neque egestas at.
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.
    </p>
  </div>
  <div class='big-info justified row two'>
    <span class="ex">X</span>
    <div class="title">
      Cap.1 De la democracia desconecta a la democracia hiperconectada
    </div>
    <p>
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.Morbi id mi quis felis facilisis cursus. Morbi ac malesuada magna. Nullam sagittis mi ipsum, ut porta neque egestas at.
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.
    </p>
  </div>
  <div class='big-info justified row three'>
    <span class="ex">X</span>
    <div class="title">
      Cap.1 De la democracia desconecta a la democracia hiperconectada
    </div>
    <p>
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.Morbi id mi quis felis facilisis cursus. Morbi ac malesuada magna. Nullam sagittis mi ipsum, ut porta neque egestas at.
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.
    </p>
  </div>
  <div class='big-info justified row four'>
    <span class="ex">X</span>
    <div class="title">
      Cap.1 De la democracia desconecta a la democracia hiperconectada
    </div>
    <p>
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.Morbi id mi quis felis facilisis cursus. Morbi ac malesuada magna. Nullam sagittis mi ipsum, ut porta neque egestas at.
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.
    </p>
  </div>
  <div class='big-info justified row five'>
    <span class="ex">X</span>
    <div class="title">
      Cap.1 De la democracia desconecta a la democracia hiperconectada
    </div>
    <p>
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.Morbi id mi quis felis facilisis cursus. Morbi ac malesuada magna. Nullam sagittis mi ipsum, ut porta neque egestas at.
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.
    </p>
  </div>
  <div class='big-info justified row six'>
    <span class="ex">X</span>
    <div class="title">
      Cap.1 De la democracia desconecta a la democracia hiperconectada
    </div>
    <p>
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.Morbi id mi quis felis facilisis cursus. Morbi ac malesuada magna. Nullam sagittis mi ipsum, ut porta neque egestas at.
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.
    </p>
  </div>
  <div class='big-info justified row seven'>
    <span class="ex">X</span>
    <div class="title">
      Cap.1 De la democracia desconecta a la democracia hiperconectada
    </div>
    <p>
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.Morbi id mi quis felis facilisis cursus. Morbi ac malesuada magna. Nullam sagittis mi ipsum, ut porta neque egestas at.
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.
    </p>
  </div>
  <div class='big-info justified row eight'>
    <span class="ex">X</span>
    <div class="title">
      Cap.1 De la democracia desconecta a la democracia hiperconectada
    </div>
    <p>
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.Morbi id mi quis felis facilisis cursus. Morbi ac malesuada magna. Nullam sagittis mi ipsum, ut porta neque egestas at.
      Morbi placerat, diam id feugiat pretium, risus sapien efficitur justo, quis luctus quam tellus ut lectus. In aliquet
      massa quis tincidunt efficitur. Proin mattis mollis magna. Sed in tellus nec sapien imperdiet porttitor eget sit amet
      mauris. Ut a nulla posuere, pharetra purus vitae, tincidunt mi. Aliquam erat volutpat.
    </p>
  </div>
  <div class="spacer-mid"></div>
  <div class="row">
    <div id="button-wrapper">
      <a id='button' href="https://docs.google.com/forms/d/e/1FAIpQLScPlybm92t5Bl_KqutVK7K7JWkgSHbyCPc3WnyQdd0zrU0xcw/viewform" target="_blank">
        DESCARGAR EL LIBRO
      </a>
    </div>
  </div>
  <div class="spacer-big"></div>
</div>