<div id="politicians">
  <div class="row politicians-banner one">
    <div class="one-caption">¿Qué concejales participan?</div>
  </div>
  <div class="row">
    <div class="politicians">
      <a class="politician-link" href="http://seamos.co/#/proponents/23">
        <div class="politician p_one">
          <div class="photo"></div>
          <div class="name">Hollman Morris</div>
          <div class="organization">Progresistas</div>
        </div>
      </a>
    </div>
  </div>
</div>