<div id="politician-profile">
  <div id="top-color-banner">
    <h1>Concejales</h1>
  </div>
</div>
<% if @politicians.any? %>
  <div id='politicians' class="subcontainer">
    <section class="row">
      <div class="col-12">
      </div>
      <%= render partial: "layouts/partials/politicians", locals: {politicians: @politicians} %>
    </section>
  </div>
<% end %>