<div id="politicians">
  <div class="row politicians-banner one">
    <div class="one-caption">¿Qué concejales participan?</div>
  </div>
  <%= render partial: "layouts/partials/politicians", locals: {politicians: @politicians} %>
</div>