<div id="politicians">
  <div class="row politicians-banner one">
    <div class="one-caption">¿Qué concejales participan?</div>
  </div>
  <div class="row">
    <div class="politicians">
      <% @politicians.each do |politician| %>
        <%= link_to politician_profile_path(politician["production_id"]), class: 'politician-link' do %>
          <div class="politician <%= politician["background_class"] %>">
            <div class="photo"></div>
            <div class="name"><%= politician["name"] %></div>
            <div class="organization"><%= politician["party"] %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>