<li>
  <img alt="Independence Day" src="<%= poll.poll_image %>" />
  <div class="info">
  	<h2 class="title"><%= poll.title %></h2>
  	<p class="desc"><%= poll.description %></p>
    <ul>
			<li ><span class="fa fa-globe"><%= poll.closing_date %></span></li>
		</ul>
  </div>
</li>
