<div id="polls-index">
  <% if @polls.length > 0 %>
    <ul class="event-list">
      <%= render @polls%>
    </ul>
  <% else %>
   <div>
     <%= t '.no_polls_available' %>
   </div>
  <% end %>
</div>
