<div id="polls-container" class="polls-container">
  <% unless @polls.nil? %>
    <%= render @polls%>
  <% else %>
   <div>
     <%= t '.no_polls_available' %>
   </div>
  <% end %>
</div>
<script type="text/javascript">
  var parent = document.getElementById("polls-container").parentElement
  parent.style.padding = "0";
</script>
