<div id="polls-container" class="polls-container">
  <%= render @polls%>
</div>
<script type="text/javascript">
  var parent = document.getElementById("polls-container").parentElement
  parent.style.padding = "0";
</script>
