
<%= form_for @tag, {action: :create} do |f| %>
    <%= render 'shared/mensajes_de_error',  object: f.object %>

    <div class="field">
      <p class="has_media center">puedes agregar más de un tag a la vez separandolos por coma ( ej: tag1, tag2, tag3)</p>
      <%= f.label :tag_names %>
      <%= f.text_field :name, class: 'form-control',  autofocus: true %>
    </div>

    <div class="actions">
      <input type="submit" class="btn btn-primary" value="Create Tags">
    </div>
<% end %>
<br><hr>
