<%= form_for @tag, {action: :create} do |f| %>
    <%= render 'shared/mensajes_de_error',  object: f.object %>

    <div class="field">
      <%= f.label :tag_names %>
      <%= f.text_field :name, class: 'form-control',  autofocus: true %>
    </div>

    <div class="actions">
      <input type="submit" class="btn btn-primary" value="Create Tags">
    </div>
<% end %>
