<section id="tags-component">
  <div class="flex-container tags-box">
    <% tags.each do |tag| %>
      <%= link_to  tag_path(tag) do %>
        <div id="tag-component" style="background-image: url('<%= tag.thumbnail.url %>'); background-color: <%= tag.tag_color %>">
          <div class="tag-name"><%= tag.name %> </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>