<div id="tags-page">
  <div class="background-container">
    <div class="flex-container">
      <h1 class="question">
        Encuentra propuestas de 
        <br class="breaker"> 
        acuerdo a los temas 
        <br class="breaker"> 
        de tu interés
      </h1>
    </div>
  </div>
  <div>
    <%= render partial: 'tags_list' %>
  </div>
  <div>
    <%= render partial: 'layouts/partials/you_may_also_like' %>
  </div>
</div>