<div id="polls-component-global-wrapper">
  <section id="polls-component">
    <div class="background-container" style="background-color: <%= @tag.tag_color %>;">
      <%= image_tag @tag.tag_image.url %>
      <div class="icon-name-wrapper">
        <div class="tag-icon-container" style="display: none;"><img class="tag-icon" alt="tag icon" src="https://document-photos-seamos.s3.amazonaws.com/uploads/tag/tag_icon/2/iconos_cultura.png"></div>
        <div class="tag-name">
            <h1>
              <%= @tag.name %>
            </h1>
        </div>
      </div>
    </div>
    <div class="polls-box">
      <div class="polls-wrapper">
        <% @polls.each do |poll| %>
          <%= render partial: 'polls/partials/poll_preview', locals: {poll: poll} %>
        <% end %>
      </div>
    </div>
  </section>
</div>