@keyframes highlight-fade
  0%
    border: red solid 12px

  100%
    border: none


.no-padding
  padding: 0 !important

.span-results
  padding-left: 3em

.transition-panel
  background: whitesmoke
  &:target
    animation: highlight-fade 5s

.field.description
  position: relative
  .char-left
    position: absolute
    bottom: 1px
    right: 12px
    color: gray

.has_media
  color: #337ab7
  font-size: 0.85em

.tags-picker
  margin-top: 20px
  .tag-list
    text-align: center
    margin: 10px 0px 15px 0px
    .tag
      background: #5085ff
      font-size: 14px
      line-height: 2em
      cursor: pointer
    .added_tag
      background: green

.list-inline .tag
  background: #5085ff
  font-size: 10px
  line-height: 1.2em
  cursor: default

#poll-status
  text-align: center
  background-color: rgba(200, 200, 200, 0.3)
  padding: 5px 0 5px 0
  span
    font-size: 16px
    padding-bottom: 3px
  .mdl-list__item-avatar
    height: 16px
    width: 16px
    font-size: 15px
  .active
    background-color: #83d7dc
  .inactive
    background-color: #ff6153
#polls-index
  .admin-poll
    padding-left: 40px
