@import './variables'
#admin-navbar
  margin-bottom: 0
  .collapse
    .navbar-right
      @media screen and (min-width: $break-medium)
        display: flex
        align-items: center
  #logo
    float: left
    margin-right: 10px
    font-size: 1.7em
    color: white
    text-transform: uppercase
    letter-spacing: -1px
    padding-top: 9px
    font-weight: bold
    &:hover
      color: white
      text-decoration: none
    img
      height: 45px