// Place all the styles related to the debates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#debates_results {
  color: #757575;
  text-decoration: none;
  &:hover {
    color: #000000;
    font-weight: 600;
    text-decoration: underline;
  }
  span {
    text-decoration: underline;
  }
}
