@font-face
    font-family: 'RobotoCondensed'
    src: font-url('RobotoCondensed.woff') format('woff')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'GothamMedium'
    src: font-url('GothamRndMedium.otf') format('truetype')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'HKNovaBold'
    src: font-url('HKNovaBold.otf') format('truetype')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'HKNovaRegular'
    src: font-url('HKNovaRegular.otf') format('truetype')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'RobotoRegular'
    src: font-url('RobotoRegular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'RobotoBold'
    src: font-url('RobotoBold.ttf') format('truetype')
    font-weight: normal
    font-style: normal
@font-face 
    font-family: 'Notification'
    src: font-url("notification.eot?s3g3t9")
    src: font-url("notification.eot?#iefixs3g3t9") format("embedded-opentype"), font-url("notification.woff?s3g3t9") format("woff"), font-url("notification.ttf?s3g3t9") format("truetype"), font-url("notification.svg?s3g3t9#notification") format("svg")
    font-weight: normal
    font-style: normal
