#footer-seamos {
  background-color: #F8F8F8;
  bottom: 1px;
  height: 108px;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  div.container {
    text-align: center;
    align-self: center;
    p:first-child{
      margin-bottom: 0;
    }
  }
}
