.forum-thread
  .posts-counter
    display: flex
    justify-content: center
    align-items: center
    margin-top: -25px
    font-family: RobotoRegular

.forum-post-edit-form
  .rounded.avatar
    display: none