.forum-thread
  .posts-counter
    display: flex
    justify-content: center
    align-items: center
    margin-top: -25px
    font-family: RobotoRegular

.forum-post-edit-form
  .rounded.avatar
    display: none

.advice
  height: 100px
  display: flex
  justify-content: center
  align-items: center
  border: 1px dotted gray
  color: gray
  font-weight: bold
  font-family: RobotoRegular
  font-size: 20px