#primary-container
  position: relative
  margin-bottom: 0 !important
.admin-search-form
  background: gainsboro
  border-radius: 7px
  margin-top: 24px

.loader-container
  z-index: 10000
  position: absolute
  height: 100%
  width: 100%
  margin: auto
  padding-top: 400px
  background-color: rgba(108, 101, 101, 0.3)
  text-align: center
