@import './variables'
#homepage

  .background-container
    background-size: cover
    padding-top: 40px
    padding-bottom: 35px
    @media screen and (max-width: $break-medium)
      padding-top: 20px
      padding-bottom: 10px
    .top-text-container
      text-align: center
      color: white
      text-transform: uppercase
      @media screen and (max-width: $break-medium)
        padding-top: 40px
      .welcome
        font-family: 'RobotoCondensed'
        letter-spacing: 7px
        font-weight: bold
        margin-bottom: 10px
        font-size: 90px
        @media screen and (max-width: $break-medium)
          font-size: 30px
          letter-spacing: 2px
      .question
        font-size: 70px
        line-height: 1.3em
        margin-top: 88px
        @media screen and (max-width: $break-medium)
          margin-top: 24px
          line-height: 1.1em
          font-size: 22px
      .to
        font-size: 16px
        letter-spacing: 1px
        font-family: 'GothamMedium'
        font-weight: bold
        text-align: center
        @media screen and (max-width: $break-medium)
          font-size: 10px

      .action
        letter-spacing: 0.08em
        margin-top: 10px
        font-family: 'RobotoCondensed'
        font-weight: bold
        padding-bottom: 30px
        display: inline-block
        background-image: url(asset_path('pasemosA-01.png'))
        background-position: center bottom
        background-size: cover
        background-repeat: no-repeat
        @media screen and (max-width: $break-medium)
          padding-bottom: 20px
          font-size: 11px
          margin-top: 0
      .hand-image-container
        width: 143px
        height: 58px
        position: relative
        margin: auto
        border-radius: 30px
        top: -9px
        @media screen and (max-width: $break-medium)
          width: 100px
          height: 60px
          overflow: hidden
        .hand-image
          text-align: center
          background-image: url(asset_path('pasemosA-02.png'))
          background-size: contain
          height: 216%
          margin: auto
          background-repeat: no-repeat
          background-position: center -26px
          -webkit-transition: background-position 1s
          transition: background-position 1s
          @media screen and (max-width: $break-medium)
            background-size: contain
            background-position: center -14px
            height: 145%
          &:hover
            background-position: center -11px
    .down-text-container
      text-align: center
      color: white
      text-transform: uppercase
      padding-top: 111px
      @media screen and (max-width: $break-medium)
        padding-top: 26px
  .top
    background-image: url(asset_path('inicio.png'))
    background-position: center top
  .mid
    background-image: url(asset_path('de_que_quieres_hablar.png'))
    background-position: center top
    padding: 100px 0 210px 0
    margin-top: 50px
    height: 420px
    @media screen and (max-width: $break-medium)
      height: 147px
      padding: 0 0 30px 0
      margin-top: 20px
  .down
    background-image: url(asset_path('featured.png'))
    background-position: center bottom
    padding: 0 0 150px 0
    margin-top: 90px
    height: 270px
    @media screen and (max-width: $break-medium)
      height: 120px
      padding: 0 0 20px 0
      margin-top: 30px
    #featured-polls-title
      color: white
      margin: 0

  .mid-paragraph
    text-align: center
    font-family: 'RobotoCondensed'
    text-transform: uppercase
    color: black
    font-size: 30px
    font-weight: bold
    line-height: 1em
    margin: 45px 0 45px 0
    @media screen and (max-width: $break-medium)
      font-size: 15px
      margin: 25px 0 10px 0
  .mid-paragraph-caption
    text-align: center
    font-family: 'RobotoCondensed'
    text-transform: uppercase
    color: black
    line-height: 1em
    margin: -25px 0 25px 0
    font-weight: normal
    font-size: 15px
    @media screen and (max-width: $break-medium)
      font-size: 13px
      margin: 10px 0 10px 0
  #how
    .title
      text-align: center
      // margin: auto
      margin-top: 50px
      word-break: normal
      font-family: 'RobotoCondensed'
      font-weight: bold
      font-size: 70px
      text-transform: uppercase
      line-height: 1em
      letter-spacing: 1px
      color: black
      margin-bottom: 0
      @media screen and (max-width: $break-medium)
        font-size: 22px
        margin-top: 25px
      h1
        letter-spacing: 1px
        white-space: nowrap
        font-weight: bold
        // margin: auto
        display: inline
        text-transform: uppercase
    .text
      margin-top: 20px
      font-size: 18px
      text-align: justify
      font-family: 'GothamMedium'
      @media screen and (max-width: $break-medium)
        font-size: 14px
        line-height: 1.3em
  #steps-container
    display: -webkit-flex
    display: flex
    -webkit-justify-content: center
    flex-wrap: wrap
    justify-content: center
    color: black
    width: 82%
    .step
      width: 300px
      font-family: 'RobotoCondensed'
      font-weight: bold
      text-transform: uppercase
      text-align: justify
      margin: 10px 5px 10px 5px
      .step-info
        display: flex
        display: -webkit-flex
        flex-wrap: wrap
        align-items: center
        .step-number
          position: relative
          top: 0
          width: 15%
          font-size: 80px
          font-weight: bold
        .step-text
          height: 100px
          width: 85%
          line-height: 1.2em
          letter-spacing: 0.04em
          display: flex
          flex: 1
          align-items: center
          padding: 0 10px 0 10px
      .step-image
        width: 100%
        height: 190px
        background-size: contain
        background-origin: content-box
        background-position: center center
        background-repeat: no-repeat
      .step-image-1
        background-image: url(asset_path('pasoapaso-01.png'))
      .step-image-2
        background-image: url(asset_path('pasoapaso-02.png'))
      .step-image-3
        background-image: url(asset_path('pasoapaso-03.png'))
    a
      color: black
      text-decoration: none
      -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s
      transition: width 0.5s, height 0.5s, transform 0.5s
      &:hover
        text-decoration: none
        color: black
        -webkit-transform: scale(1.03, 1.03)
        transform: scale(1.03, 1.03)

  .fb-button-container
    text-align: center
    margin-top: 20px
    .one-click
      font-weight: bold
      font-size: 18px
      margin-bottom: 0.8em
    button
      background-color: #2d60a0
      padding: 6px 8px
      border-radius: 5px
      color: white
      .fa
        margin-right: 7px
        padding-right: 7px
        line-height: 20px
        border-right: 1px solid white
  .breaker
    @media screen and (max-width: $break-medium)
      display: none
  #featured-polls-title
    margin-top: 60px
    margin-bottom: 30px
    color: black
    text-align: center
    font-family: 'RobotoCondensed'
    font-weight: bold
    font-size: 38px
    line-height: 1.3em
    @media screen and (max-width: $break-medium)
      letter-spacing: 1px
      line-height: 1.1em
      font-size: 22px
  #featured-polls
    display: flex
    align-items: center
    justify-content: center
    .polls-wrapper
      text-align: center
      #poll-component
        .poll-image-container
          justify-content: center
          a
            margin: 0
            left: 0
            right: 0
            position: relative
