// Place all the styles related to the intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#intro {
  height: 85vh;
  background-image: url('/assets/introBackgroundImage.png');
  .row {
    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
      margin-top: 30px;
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      margin-top: 60px;
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      margin-top: 36px;
    }
  }
  .row:first-child {
    #cloud {
      color: #fff;
      width: 100%;
      // background-image: url('/assets/cloudForm.png');
    }
  }
  .row:nth-child(2) {
    div {
      text-align: center;
      #infography{
        width: 90%;
        background-image: url('/assets/infographyBackgroundImage.png');
        background-size: 100% 100%;
      }
    }
  }
  .row:nth-child(3) {
      img {
        width: 40%;
        float: right;
      }

  }
}
