@import './variables'
#maping
  font-family: RobotoRegular
  font-size: 16px
  @media screen and (max-width: $break-medium)
    padding: 0 35px
  .justified
    text-align: justify
  #main-banner-wrapper
    #main-banner
      margin-top: 50px
      @media screen and (max-width: $break-medium)
        margin-top: 30px
      img
        width: 100%
  #image-buttons-container
    text-align: left
    @media screen and (max-width: $break-medium)
      margin-bottom: 30px
    .image-button
      padding: 10px
      cursor: pointer
      background-size: cover
      margin: 0px
      background-size: 98%
      background-color: white
      background-repeat: no-repeat
      display: flex
      align-items: center
      background-position: center center
      &:hover
        background-image: none
        background-color: #f39c52
        text-decoration: none
        p
          display: block
        .title
          display: block
      .title
        font-size: 20px
        font-weight: bold
        margin-bottom: 5px
        position: absolute
        display: none
        top: 30px
        left: 25px
        @media screen and (max-width: $break-medium)
          padding: 10px 40px
      p
        position: absolute
        left: 25px
        text-align: justify
        width: 91%
        display: none
      img
        width: 100%
        visibility: hidden
    .one
      background-image: url(asset_path('maping-1.png'))
    .two
      background-image: url(asset_path('maping-2.png'))
    .three
      background-image: url(asset_path('maping-4.png'))
    .four
      background-image: url(asset_path('maping-4.png'))
  #button-wrapper
    text-align: center
    margin-top: 30px
    @media screen and (max-width: $break-medium)
      margin-bottom: 30px
    #button
      text-align: center
      width: 100%
      background-color: #25387c
      color: white
      padding: 10px 150px
      font-size: 20px
      margin-top: 57px
      letter-spacing: 4px
      @media screen and (max-width: $break-medium)
        padding: 10px 40px
      &:hover
        background-color: #a14a3d
        text-decoration: none
      &:visited
        text-decoration: none
  .big-info
    display: none
    padding: 40px 20px
    position: relative
    .title
      font-weight: bold
      margin-bottom: 15px
    .ex
      position: absolute
      right: 8px
      top: 0
      background-color: #25387b
      width: 29px
      text-align: center
      color: white
      padding: 5px
      cursor: pointer
  .one
    background-color: #eaeaea
  .two
    background-color: #f1ea2c
  .three
    background-color: #e0b20c
  .four
    background-color: #df8008
  .five
    background-color: #b4b914
  .six
    background-color: #e4295d
  .seven
    background-color: #24af85
  .eight
    background-color: #61beb3

