@import './variables'
#maping
  font-family: RobotoRegular
  font-size: 16px
  @media screen and (max-width: $break-medium)
    padding: 0 35px
  .justified
    text-align: justify
  #main-banner-wrapper
    #main-banner
      margin-top: 50px
      @media screen and (max-width: $break-medium)
        margin-top: 30px
      img
        width: 100%
  #image-buttons-container
    text-align: left
    @media screen and (max-width: $break-medium)
      margin-bottom: 0px
    .image-button
      padding: 10px
      background-size: cover
      margin: 0px
      background-size: 98%
      background-color: white
      background-repeat: no-repeat
      display: flex
      align-items: center
      background-position: center center
      padding: 0
      @media screen and (max-width: $break-medium)
        background-size: 100%
        margin-bottom: 15px
      &:hover
        background-image: none
        background-color: #f39c52
        text-decoration: none
        color: black
        display: table-footer-group
        padding: 0
        width: 49%
        transition: width 0.5s
        .text-container
          display: block
          position: relative
          top: 0
          left: 0
          padding: 25px
          background-color: #f39c52
          pointer-events: all
          min-height: 392px
          border-bottom: 10px solid white
          left: 0px
          border-left: 5px solid white
          @media screen and (max-width: $break-medium)
            border-left: none
            min-height: 200px
            padding: 25px 25px 65px 25px
          #doc-button-wrapper
            position: absolute
            bottom: 20px
            display: block
            @media screen and (max-width: $break-medium)
              bottom: 0
            #doc-button
              pointer-events: all
              display: block
        img
          display: none
          @media screen and (max-width: $break-medium)
            display: none
      .text-container
        display: none
        pointer-events: none
        position: absolute
        background-color: white
        @media screen and (max-width: $break-medium)
          position: relative !important
          padding: 25px
          font-size: 14px
          border-bottom: 15px solid white
        .title
          font-size: 20px
          font-weight: bold
          margin-bottom: 5px
          top: 30px
          left: 25px
        p
          left: 25px
          text-align: justify
        #doc-button-wrapper
          right: 20px
          left: auto
          display: none
          pointer-events: none
          #doc-button
            font-size: 15px
            display: none
            pointer-events: none
            padding: 7px 28px
            @media screen and (max-width: $break-medium)
              font-size: 12px
              padding: 4px 20px
      img
        width: 98%
        visibility: hidden
    .one
      background-image: url(asset_path('maping-1.png'))
    .two
      background-image: url(asset_path('maping-2.png'))
    .three
      background-image: url(asset_path('maping-3.png'))
    .four
      background-image: url(asset_path('maping-4.png'))
  #doc-button-wrapper
    text-align: center
    margin-top: 30px
    @media screen and (max-width: $break-medium)
      margin-bottom: 30px
    #doc-button
      text-align: center
      width: 100%
      background-color: #25387c
      color: white
      padding: 10px 150px
      font-size: 20px
      margin-top: 57px
      letter-spacing: 4px
      @media screen and (max-width: $break-medium)
        padding: 10px 10px
        font-size: 12px
        letter-spacing: 2px
      &:hover
        background-color: #a14a3d
        text-decoration: none
      &:visited
        text-decoration: none
  p
    @media screen and (max-width: $break-medium)
      font-size: 15px
      line-height: 22px