@import './variables'
#may-interest-container
  height: 600px
  $square-info-size: 470px
  $square-info-size-mobile: 270px
  $team-member-size: 200px
  $politician-size: 150px
  $politician-mobile-size: 100px
  .breaker
    @media screen and (max-width: $break-medium)
      display: none
  #may-interest
    width: 1200px
    margin: auto
    display: flex
    justify-content: left
    flex-wrap: wrap
    position: relative
    #global-container
      #other-poll-component
        width: 540px
        margin: 0 20px 0 20px
  .interest-banner
    height: 150px
    background-color: gainsboro
    font-size: 50px
    line-height: 1.3em
    font-weight: bold
    color: white
    text-transform: none
    font-family: "HKNovaBold"
    display: flex
    align-items: center
    justify-content: center
    word-break: break-word
    @media screen and (max-width: $break-medium)
      height: 180px
      font-size: 27px
      padding: 0 40px
      text-align: center
  .one
    margin: 50px 0
    background-color: #c6c6c6
    color: #45434c
