.navbar.navbar-default.navbar-static-top{
  margin-bottom: 0px;
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  #logo {
    padding-top: 0;
    margin-left: 24px;
    img {
      height: 75px;
      width: 220px;
    }
  }
  li.nav-li-border{
    border-bottom: 2px solid red;
    a {
      padding-bottom: 3px !important;
    }
  }
}

#seamos-navbar {
  margin-bottom: 5px;
}

#navbar-client{
  #brand-logo {
    background: url(asset_path('LogoSeamos_blanco.png'));
    min-height: 30px;
    min-width: 90px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .navbar-toggle .icon-bar { 
    background-color: whitesmoke;
  }

  @media screen and (max-width: 768px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        right: 0;
        transition: right .4s;
    }
    .side-collapse-container.out {
        right: 20px;
    }
    .side-collapse {
        top: 50px;
        bottom: 0;
        right: 0;
        width: 80%;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
    }
    .side-collapse.in {
        width: 0;
    }
  }
}