#client-navbar
  .navbar-header
    .navbar-brand
      padding: 0px 0 10px 0
      &:hover
        background-color: rgba(0, 0, 0, 0) !important
        border-radius: 10px
      #brand-logo
        background-size: cover
        min-height: 50px
        min-width: 140px
  .navbar-options
    display: flex
    align-items: center
    margin-top: 8px !important
    li
      margin-right: 10px
    a
      text-transform: uppercase
      font-weight: bold
      padding: 5px !important
      &:hover
        background-color: black !important
        border-radius: 10px
  .nav-fb
    font-family: 'RobotoCondensed'
    text-transform: uppercase
    font-weight: bold
    padding: 5px !important
    display: flex
    align-items: center
    &:hover
      background-color: black !important
      border-radius: 10px
