@import './variables.scss'
#client-navbar
  .hide-on-mobile
    a
    @media screen and (max-width: $break-medium)
      display: none !important
  .hide-on-desktop
    a
    @media screen and (min-width: $break-medium)
      display: none !important
  a:focus
    background-color: rgba(0, 0, 0, 0)
  .navbar-header
    @media screen and (max-width: $break-medium)
      margin-left: 0
    .navbar-brand
      padding: 0px 0 10px 0
      background-color: rgba(0, 0, 0, 0) !important
      @media screen and (max-width: $break-medium)
        padding: 0
        display: flex
        align-items: center
      &:hover
        background-color: rgba(0, 0, 0, 0) !important
        border-radius: 10px
      #brand-logo
        background-size: cover
        min-height: 50px
        min-width: 140px
        @media screen and (max-width: $break-medium)
          background-size: contain
          min-height: 29px
  .navbar-collapse
    padding-left: 30px
  .side-collapse
    @media screen and (max-width: $break-medium)
      width: 50%
  .navbar-options
    display: flex
    align-items: center
    margin-top: 8px !important
    @media screen and (max-width: $break-medium)
      display: block
    li
      margin-right: 10px
      margin-bottom: 10px
    span.circle-separator
      margin-top: -13px
      margin-right: 7px
    a
      color: #44434c
      text-transform: uppercase
      font-weight: bold
      padding: 5px !important
      &:hover
        background-color: #c6c6c5
        height: 33px
        padding-top: 7px !important
        -webkit-transition: background-color 0.3s linear
        -ms-transition: background-color 0.3s linear
        transition: background-color 0.3s linear
  .nav-fb
    font-family: 'RobotoCondensed'
    text-transform: uppercase
    font-weight: bold
    padding: 5px 18px !important
    display: flex
    align-items: center
    background-color: #75bfce
    color: #44434c
    &:hover
      background-color: #75bfce
      // border-radius: 10px
      // background-color: black
      // color: white
      // -webkit-transition: background-color 0.5s linear
      // -ms-transition: background-color 0.5s linear
      // transition: background-color 0.5s linear
    .fa
      margin-right: 7px
      padding-right: 7px
      line-height: 20px
      border-right: 1px solid white
  .dropdown
    position: relative
    display: inline-block
    &:hover
      cursor: default
      .dropdown-content
        display: block

  .dropdown-content
    position: absolute
    left: -35px
    top: 25px
    background-color: black
    padding: 12px 16px
    z-index: 1
    background-color: black !important
    border-radius: 10px
    visibility: hidden
    opacity: 0
    transition: visibility 0s, opacity 0.5s linear
  .sidebar-social
    position: absolute
    bottom: 20px
  .social-icons-wrapper
    @media screen and (max-width: $break-medium)
      display: flex
      flex-wrap: wrap
      justify-content: center
    .social-icon
      @media screen and (max-width: $break-medium)
        margin: 8px
        background-position: center center
        background-size: cover
        background-repeat: no-repeat
        width: 33px
        height: 31px
        display: inline-flex
      &:hover
        cursor: pointer
        width: 40px
        height: 40px
        background-color: rgba(60, 60, 60, 1)
        border-radius: 21px
  .dropdown:hover .dropdown-content
    display: flex
    visibility: visible
    opacity: 1
