@import './variables.scss'
#politician-profile
  .container
    width: 1000px
  .organization
    font-family: 'RobotoCondensed'
    text-transform: uppercase
    margin-left: 46px
    font-weight: bold
    font-size: 15px
  #plus-info
    color: gray
    color: gray
    font-family: 'HknovaBold'
    &:hover
      text-decoration: none
      cursor: pointer
  #profile
    .btn-return
    @media screen and (max-width: $break-medium)
    .profile-info-container
    .flex-container
    #tags-component
      .tags-box
        @media screen and (max-width: $break-medium)
    #tag-component
      @media screen and (max-width: $break-medium)
      .tag-name
        @media screen and (max-width: $break-medium)
      .tag-image
        @media screen and (max-width: $break-medium)
        img
          @media screen and (max-width: $break-medium)
      .tag-icon
        img
          @media screen and (max-width: $break-medium)
    header
      img
    .media-left
      margin-left: 0
      @media screen and (max-width: $break-medium)
    .media-body
      h4
        margin-left: 2.2em
        @media screen and (max-width: $break-medium)
      h6
        margin-left: 3.5em
        text-align: justify
        @media screen and (max-width: $break-medium)
    #profile-container
      #my-subjects
        @media screen and (max-width: $break-medium)
        .title
          span
        .btn-edit-container
          @media screen and (max-width: $break-medium)
          .btn-edit
      .my-participations
        .title
          span
        .polls-wrapper
          @media screen and (max-width: $break-medium)
          #poll-component
            width: 200px
            .poll-image-container
              @media screen and (max-width: $break-medium)
              a
                img
                  @media screen and (max-width: $break-medium)
            .poll-infos-container
              @media screen and (max-width: $break-medium)
              .poll-info
                .poll-description
                .poll-title
              .poll-details
                @media screen and (max-width: $break-medium)
                span:nth-child(4)
                .btn-plus-read
