@import './variables.scss'
#politician-profile
  $picture-size: 160px
  #top-color-banner
    height: 150px
    background-color: #eb6157
    margin-bottom: -124px
  #profile
    h1
      font-family: "RobotoRegular"
      font-weight: bold
      font-size: 28px
      text-align: left
      margin: 6px 0
      color: #44424c
    h2
      font-family: 'RobotoRegular'
      font-size: 18px
      font-weight: bold
      margin: 0
      text-align: left
      color: #44424c
    p
      font-size: 19px
      font-family: 'RobotoRegular'
      line-height: 22px
      margin-top: 24px
    .top
      margin-bottom: 25px
      .basic-info
        height: $picture-size
        .basic-info-wrapper
          position: absolute
          bottom: 10px
      .picture-wrapper
        max-width: $picture-size
        max-height: $picture-size
        border-radius: 50%
        overflow: hidden
        img
          width: $picture-size
          height: $picture-size
    .mid
      .cv-title
        height: 46px
        background-color: #c6c6c5
        display: flex
        font-family: RobotoRegular
        font-weight: bold
        font-size: 23px
        display: flex
        align-items: center
        padding-left: 20px
      .cv-subtitle
        font-family: 'RobotoRegular'
        font-size: 21px
        border-bottom: 2px solid gray
        padding-bottom: 6px
      .further-studies
        padding: 20px
        font-size: 16px
        color: black
        br
          display: none
      .career
        padding: 20px
        font-size: 16px
      .achieved-votes
        font-size: 25px
        font-family: 'RobotoBold'
        height: 50px
        display: flex
        align-items: center
        text-align: right
    .polls-wrapper
      margin-top: 50px
      #poll-component
        margin: 0 30px 0 0px
