@import './variables.scss'
#politician-profile
  $picture-size: 160px
  @media screen and (min-width: $break-medium)
    margin-bottom: -70px
  .hide-on-desktop
    display: none
    @media screen and (max-width: $break-medium)
      display: block
  #top-color-banner
    height: 190px
    background-color: #eb6157
    margin-bottom: -124px
  #may-interest-container
    margin-bottom: -60px
    #may-interest
      top: 0
  #profile
    margin-top: 35px
    @media screen and (max-width: $break-medium)
      margin-bottom: 0
    .title
      margin: 20px 0 20px 0
      @media screen and (max-width: $break-medium)
        margin-top: -40px
    h1
      font-family: "RobotoRegular"
      font-weight: bold
      font-size: 28px
      text-align: left
      margin: 6px 0
      color: #44424c
    h2
      font-family: 'RobotoRegular'
      font-size: 18px
      font-weight: bold
      text-align: left
      color: gray
      margin: 0
      margin-bottom: 40px
      @media screen and (max-width: $break-medium)
        margin: 0
        text-align: center
    p
      font-size: 19px
      font-family: 'RobotoRegular'
      line-height: 22px
      @media screen and (max-width: $break-medium)
        text-align: justify
    .top
      margin-bottom: 25px
      .social-info
        .social-info-wrapper
          p
            margin-top: 60px
            font-size: 19px
            text-align: right
            @media screen and (max-width: $break-medium)
              width: 100%
              text-align: center
              font-size: 13px
              margin-top: -8px
      .basic-info
        height: $picture-size
        @media screen and (max-width: $break-medium)
          height: 100px
          display: flex
          justify-content: center
        h1
          @media screen and (max-width: $break-medium)
            text-align: center

        .basic-info-wrapper
          position: absolute
          bottom: 10px
      .picture-wrapper-wrapper
        @media screen and (max-width: $break-medium)
          display: flex
          justify-content: center
          align-items: center
        .picture-wrapper
          max-width: $picture-size
          max-height: $picture-size
          display: flex
          justify-content: center
          border-radius: 50%
          overflow: hidden
          img
            height: $picture-size
    .mid
      td
        font-family: 'RobotoRegular'
        font-size: 21px
        line-height: 24px
        @media screen and (max-width: $break-medium)
          text-align: justify
      .cv-title
        height: 46px
        background-color: #eaeaea
        border: 2px solid #5a5861
        border-radius: 14px
        display: flex
        font-family: 'RobotoRegular'
        font-weight: bold
        font-size: 23px
        display: flex
        align-items: center
        padding-left: 20px
      .cv-subtitle
        font-family: 'RobotoRegular'
        font-size: 23px
        border-bottom: 1px solid gray
        padding: 12px 0 0 0
        font-weight: bold
        color: #44434c
        line-height: 1.1em
      .further-studies
        padding: 10px
        color: #44434c
        .academic-title
          font-size: 19px
          font-family: 'RobotoRegular'
          border-bottom: 1px solid gray
          div
            margin: 12px 0 12px 0
        .academic-title:nth-child(3)
          border-bottom: none
      .career
        padding: 20px 10px
        font-size: 16px
      .achieved-votes
        font-size: 25px
        font-family: "RobotoBold"
        height: 50px
        padding-left: 144px
        display: flex
        align-items: center
        text-align: left
        background-image: url(asset_path('achieved-votes.png'))
        min-height: 93px
        background-repeat: no-repeat
        background-size: 70px 70px
        background-position-y: center
        color: #44434c
      .major-representation-localities
        font-family: 'RobotoBold'
        height: 50px
        padding-left: 144px
        padding-top: 26px
        align-items: center
        min-height: 93px
        background-repeat: no-repeat
        background-size: 118px 82px
        background-position-y: center
        color: #3d5062
        font-size: 20px
        background-image: url(asset_path('localities.png'))
      .without-image
        font-family: "RobotoBold"
        padding: 15px 0
        display: flex
        align-items: center
        min-height: 62px
        font-size: 20px
        justify-content: flex-start
        color: #44434c
      h2
        @media screen and (max-width: $break-medium)
          text-align: center
          font-size: 28px
          padding-top: 30px
          padding-bottom: 30px
      h1
        @media screen and (max-width: $break-medium)
          text-align: center
          padding-top: 30px
    .polls-wrapper
      margin-top: 50px
      display: flex
      flex-wrap: wrap
      @media screen and (max-width: $break-medium)
        margin-top: 10px
      #poll-component
        margin: 0 30px 30px 0
        @media screen and (max-width: $break-medium)
          margin: auto
          margin-bottom: 35px
  #politician-bio
    text-align: justify
