@import './variables'
#poll-page
  @media screen and (max-width: $break-medium)
    margin-top: 45px
  h3
    font-size: 20px
  .background-container
    background-size: cover
    padding-top: 40px
    padding-bottom: 20px
    height: 350px
    width: 100%
    align-items: center
    background-position: center center
    display: inline-flex
    @media screen and (max-width: $break-medium)
      height: 206px
      font-size: 250px
    .icon-name-wrapper
      margin: auto
      display: flex
      align-items: center
      @media screen and (max-width: $break-medium)
        margin-top: 35px
      .tag-icon-container
        width: 100px
        .tag-icon
          width: 100px
          height: 100px
      .tag-name
        h1
          color: white
          font-size: 60px
          font-family: 'RobotoCondensed'
          text-transform: uppercase
          font-weight: bold
          margin: 0
          @media screen and (max-width: $break-medium)
            font-size: 30px
  .polls-box
    margin-top: 50px
    width: 100%
    display: inline-flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    overflow: hidden
    text-align: center
    @media screen and (max-width: $break-medium)
      padding: 0 20px 0 20px
  .polls-wrapper
    margin-top: 40px
    display: flex
    @media screen and (max-width: $break-medium)
      margin-top: 70px
      margin: auto
      justify-content: center
    #poll-component
      margin-bottom: 70px
      @media screen and (max-width: $break-medium)
        margin: auto
        margin-bottom: 40px
  .polls-wrapper
    @media screen and (max-width: $break-medium)
      display: flex
      flex-wrap: wrap
      justify-content: center
      margin-bottom: 30px
    div
      a
        #poll-component
          @media screen and (max-width: $break-medium)
            margin-left: 0 !important
            margin-bottom: 20px !important

  .order-select-wrapper
    margin-left: 30px
    @media screen and (max-width: $break-medium)
      display: flex
      flex-wrap: wrap
      width: 100vw
      margin: auto
      margin-bottom: 20px
    .order-string
      font-family: 'HKNovaRegular'
      font-size: 20px
      text-transform: uppercase
      font-weight: bold
      margin-right: 10px
      position: relative
      top: 3px
      display: none
      @media screen and (max-width: $break-medium)
        margin-bottom: 20px
        margin-top: 4px
    #summary-wrapper
      float: right
      padding-right: 28px
      padding-top: 4px
      @media screen and (max-width: $break-medium)
        float: none
        width: 100vw
        text-align: center
        padding-right: 0
        padding-top: 0
        padding-left: -10px
        display: flex
        justify-content: center
        align-items: center
        position: relative
        bottom: 34px
        left: -29px
        margin: auto
      .polls-summary-text
        padding-right: 60px
        position: relative
        bottom: -2px
        left: 31px
        margin-top: 0
        padding: 1px 62px 1px 7px
        font-size: 1.5em
        border: 1px solid #45434c
        background: #eaeaea
        text-align: left
        font-family: "RobotoCondensed"
        @media screen and (max-width: $break-medium)
          padding: 6px 26px 6px 7px
      a.summary-btn-wrapper
        &:hover
          text-decoration: none
        .polls-summary-btn
          position: relative
          padding: 6px 10px 5px 10px
          left: 30px
          bottom: -4px
          background: #5bc0c9
          color: #45434c
          font-family: "RobotoCondensed"
          font-size: 24px
          @media screen and (max-width: $break-medium)
            top: 3px
          &:hover
            text-decoration: none
    .order-select
      font-family: "RobotoCondensed"
      font-size: 1.5em
      padding-left: 7px
      border: 1px solid #45434c
      letter-spacing: 0
      width: 338px
      height: 33px
      background: rgba(250, 250, 250, 0.6)
      margin: 0
      @media screen and (max-width: $break-medium)
        padding-left: 66px
        margin: auto
        width: 300px
        position: relative
        top: 50px
