#polls-component
  h3
    font-size: 20px
  $break-medium: 720px
  .background-container
    height: 400px
    width: 100%
    background-repeat: no-repeat
    display: inline-flex
    align-items: flex-end
    @media screen and (max-width: $break-medium)
      height: 218px
      font-size: 250px
    img
      width: 900px
      height: 350px
      position: absolute
      right: 0
      // height: 390px
      @media screen and (max-width: $break-medium)
        width: 100%
        height: initial
        // position: absolute
        // right: 0
    .icon-name-wrapper
      display: flex
      align-items: center
      position: absolute
      @media screen and (max-width: $break-medium)
      .tag-icon-container
        width: 100px
        .tag-icon
          width: 100px
          height: 100px
      .tag-name
        position: absolute
        bottom: 32px
        left: 40px
        @media screen and (max-width: $break-medium)
          bottom: 11px
          left: 13px
        h1
          color: white
          font-size: 60px
          font-family: 'HKNovaBold'
          text-transform: capitalize
          font-weight: bold
          letter-spacing: 4px
          margin: 0
          text-align: left
          @media screen and (max-width: $break-medium)
            font-size: 25px
            width: 90%
  .polls-box
    margin-top: 50px
    width: 100%
    display: inline-flex
    flex-wrap: wrap
    justify-content: left
    align-items: left
    padding-left: 11px
    overflow: hidden
    @media screen and (max-width: $break-medium)
      margin-top: 50px
      padding: 0 10px
      min-height: 380px
    h3
      margin: 20px 0
      @media screen and (max-width: $break-medium)
        margin: 57px 0 115px 0
