// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@keyframes highlight-fade {
  0%   { border: red solid 12px; }
  100% { border: none ;    }
}


.no-padding {
  padding: 0 !important;
}
.span-results{
  padding-left: 3em;
}
.transition-panel{
  background: whitesmoke;
  &:target{
    animation: highlight-fade 5s ;
  }
}
.field.description {
  position: relative;
  .char-left {
    position: absolute;
    bottom: 1px;
    right: 12px;
    color: gray;
  }
}
.has_media {
  color: #337ab7;
  font-size: 0.85em;
}

.tags-picker {
  margin-top: 20px;
  .tag-list {
    text-align: center;
    margin: 10px 0px 15px 0px;
    .tag{
      background: rgba(80, 133, 255, 1);
      font-size: 14px;
      line-height: 2em;
      cursor: pointer;
    }
    .added_tag{
      background: green;
    }
  }
}

.list-inline{
  .tag{
    background: rgba(80, 133, 255, 1);
    font-size: 10px;
    line-height: 1.2em;
    cursor: default;
  }
}
