// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@keyframes highlight-fade {
  0%   { border: red solid 12px; }
  100% { border: none ;    }
}


.no-padding {
  padding: 0 !important;
}
.span-results{
  padding-left: 3em;
}
.transition-panel{
  background: whitesmoke;
  &:target{
    animation: highlight-fade 5s ;
  }
}
.field.description {
  position: relative;
  .char-left {
    position: absolute;
    bottom: 3px;
    right: 5px;
  }
}
#has_image {
  color: #337ab7;
  font-size: 0.85em;
}
