#polls-component
  $break-medium: 720px
  .polls-box
    margin-top: 100px
    width: 100%
    display: inline-flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    overflow: hidden
    @media screen and (max-width: $break-medium)
      padding: 0 20px 0 20px
