#poll-component
  $break-medium: 720px
  display: inline-flex
  flex-wrap: wrap
  width: 590px
  margin: 0 30px 0 30px
  margin-bottom: 30px
  position: relative
  @media screen and (max-width: $break-medium)
    width: 100%
    margin: 0
    margin-bottom: 40px
  .poll-image-container
    width: 240px
    height: 150px
    position: relative
    overflow: hidden
    margin: auto
    display: flex
    align-items: center
    justify-content: center
    @media screen and (max-width: $break-medium)
      width: 40%
    a
      img
        max-height: 200px
        @media screen and (max-width: $break-medium)
          max-height: 150px
  .color-separator
    height: 30px
    width: 8px
    position: relative
    top: 0
    left: 3px
    border-radius: 6px
    @media screen and (max-width: $break-medium)
      width: 5px
  .poll-infos-container
    position: relative
    width: 340px
    padding: 10px
    @media screen and (max-width: $break-medium)
      width: 55%
      margin: auto
      margin-top: 0
      padding: 0
      padding-left: 5px
      max-height: 150px
      overflow: hidden
    .poll-details
      position: absolute
      bottom: 0
      right: 0
      display: flex
      font-family: "HKNovaBold"
      font-size: 10px
      color: rgba(30, 30, 30, 0.6)
      line-height: 0.8em
      align-items: center
      .btn-plus-read
        color: white
        font-size: 8px
        line-height: 5px
        float: right
        font-family: 'HKNovaBold'
        text-transform: uppercase
        border-radius: 2px
        padding: 3px
        margin-right: 10px
        @media screen and (max-width: $break-medium)
          margin-right: 0

      .separator
        padding: 0 3px
        font-size: 17px

    .poll-info
      // position: relative
      .poll-description
        font-size: 12px
        font-family: 'GothamMedium'
        line-height: 1.2em
        overflow: hidden
        max-height: 100px
        text-align: justify
        @media screen and (max-width: $break-medium)
          margin-bottom: 30px
          max-height: 90px
      .poll-title
        font-size: 14px
        font-family: 'HKNovaBold'
        text-transform: uppercase
        line-height: 1em
        text-align: left
        @media screen and (max-width: $break-medium)
          margin: 0 0 10px 0
          font-size: 14px
