// Place all the styles related to the polls controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import './variables.scss';
#poll-detail {
    margin-top: 5em;
    padding: 6px 6em 0 6em;   
    height: 100%;
    header {
        font-family: 'hkNovaBold';
        font-size: 24px;
        margin-bottom: 1em;
        // float: left;
    }
    #politician {
        font-family: 'RobotoBoldCondensed';
        font-size: 12px;
        img {
            margin-right: 0.5em;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
        #author{
            font-size: 20px;        
            color: gray;
            display: inline-block;
            font-family: 'Roboto';
        }

    }
    #poll {
        margin-top: 3em;
        #poll-thumbnail {
            width: 100%;
            max-height: 330px
        }
        #objective {
            font-family: 'RobotoBoldCondensed';
            font-weight: bold;
        }  
         #plus-info {  
            color: gray;  
            font-size: 18px;  
            font-weight: 700;  
            border-color: transparent;  
            background-color: transparent;  
        }  
        .single-button { 
            min-height: 60px; 
            margin-bottom: 1em; 
            background-color: $green-seamos; 
            font-family: RobotoBoldCondenced; 
            color: black; 
            width: 80%; 
            text-align: left; 
        } 
        .voted-button { 
            min-height: 60px; 
            padding: 0; 
            margin-bottom: 1em; 
            background-color: gray; 
            color: whitesmoke; 
            width: 80% ; 
            .progress-bar { 
                font-family: RobotoBoldCondenced; 
                text-align: left; 
                vertical-align: middle; 
            } 
        } 
    }
}

@media screen and (max-width: $break-medium) {
    #poll-detail {
        padding: 6px 0.5em 0 3.5em;        
        height: 100vh;
        #poll {
            margin-top: 1em;
            #poll-thumbnail {
                margin-top: 1em;
                width: 90%;
            }
        }
    }
}