@import './variables.scss'
#profile
  #profile-baner
  $square-info-size: 470px
  $square-info-size-mobile: 270px
  $team-member-size: 200px
  $politician-size: 150px
  $politician-mobile-size: 100px
  .breaker
    @media screen and (max-width: $break-medium)
      display: none
  .profile--banner
    height: 300px
    background-color: gainsboro
    font-size: 50px
    line-height: 1.3em
    font-weight: bold
    color: white
    text-transform: none
    font-family: "HKNovaBold"
    display: flex
    align-items: center
    justify-content: center
    word-break: break-word
    @media screen and (max-width: $break-medium)
      height: 180px
      font-size: 27px
      padding: 0 40px
      text-align: center
  .one
    background-color: #c6c6c6
    display: flex
    align-items: flex-end
    height: 200px
    @media screen and (max-width: $break-medium)
      height: 180px
      font-size: 27px
  .btn-return
    margin-top: 20px
    background-color: black
    color: white
    font-family: 'HKNovaBold'
  $tag-size: 150px
  $tag-size-mobile: $tag-size - 20px
  .container
    margin-top: -55px
  .divider
    border: 1px solid #d4d4d4
    margin: 30px 200px
  .second-container
    margin-top: 0
  .profile-info-container
    display: flex
    align-items: center
  .flex-container
    width: 100%
  #tags-component
    .tags-box
      margin-top: 18px
      justify-content: left
      @media screen and (max-width: $break-medium)
        justify-content: center
        // width: 130px
  #tag-component
    height: $tag-size
    width: $tag-size
    border: 3px solid white
    @media screen and (max-width: $break-medium)
      width: 134px
      height: $tag-size-mobile
    .tag-name
      font-size: 14px
      width: $tag-size
      display: none
      @media screen and (max-width: $break-medium)
        width: $tag-size-mobile
        font-size: 12px
  header
    img
      // margin-left: 2.5em
      border-radius: 50%
      width: 100px
      height: 100px
  .media-left
    margin-left: $move-left
    @media screen and (max-width: $break-medium)
      margin-left: 0
  .media-body
    vertical-align: middle
    width: auto
    padding-left: 0
    h4
      margin-left: 1.2em
      font-family: 'HKNovaBold'
      text-transform: uppercase
      font-size: 20px
      @media screen and (max-width: $break-medium)
        font-size: 14px
        margin-left: 0
    h6
      margin-left: 1.8em
      color: gray
      font-family: 'HKNovaBold'
      font-size: 13px
      margin-bottom: 0
      @media screen and (max-width: $break-medium)
        font-size: 10px
        margin-left: 0
  #profile-container
    #my-subjects
      margin-left: $move-left
      @media screen and (max-width: $break-medium)
        margin-left: 0
      .title
        background-image: url(asset_path('temas.png'))
        min-height: 30px
        min-width: 90px
        margin-bottom: 20px
        display: flex
        align-items: center
        background-size: contain
        background-repeat: no-repeat
        span
          margin-left: 2.8em
          font-weight: bold
      .btn-edit-container
        width: $tag-size * 2 + 12px
        text-align: center
        @media screen and (max-width: $break-medium)
          margin: auto
          padding-left: 0
          text-align: center
          margin-bottom: 30px
          width: $tag-size-mobile * 2 + 12px
        .btn-edit
          margin-top: 20px
          background-color: black
          color: white
          font-family: 'HKNovaBold'
    .my-participations
      @media screen and (max-width: $break-medium)
        margin-bottom: 60px
      .title
        min-height: 30px
        min-width: 90px
        margin-bottom: 20px
        display: flex
        align-items: center
        background-size: contain
        background-repeat: no-repeat
        span
          font-family: 'HKNovaBold'
          font-size: 20px
          @media screen and (max-width: $break-medium)
            font-size: 14px
            margin-left: 0
      .polls-wrapper
        @media screen and (max-width: $break-medium)
        #poll-component
          width: 250px
          margin-right: 20px
          margin-top: 20px
          margin-left: 0
          margin-bottom: 0
          @media screen and (max-width: $break-medium)
            width: 100%
          .poll-title
            @media screen and (max-width: $break-medium)
              height: auto
          .politician-info
            .picture-container
              width: 55px
              @media screen and (max-width: $break-medium)
                width: 58px
            .name-container
              @media screen and (max-width: $break-medium)
                margin-left: 0
          .poll-image-container
            height: 230px
            @media screen and (max-width: $break-medium)
            a
              img
                @media screen and (max-width: $break-medium)
          .poll-infos-container
            @media screen and (max-width: $break-medium)
              padding-left: 0
            .poll-info
              .poll-description
                margin-bottom: 10px
            .poll-details
              display: none
              @media screen and (max-width: $break-medium)
              span:nth-child(4)
              .btn-plus-read
