#tag-component
  $break-medium: 720px
  $tag-size: 190px
  border: 10px solid white
  height: $tag-size
  width: $tag-size
  transition: opacity 0.5s
  background-size: cover
  display: table-cell
  vertical-align: bottom
  &:hover
    opacity: 0.7
  @media screen and (max-width: $break-medium)
    margin: 3px
    height: 134px
    width: 134px
  .tag-selected
    height: 30px
    width: 30px
    background-color: white
    opacity: 0.6
    border-radius: 20px
    position: relative
    top: 10px
    float: right
    right: 10px
    @media screen and (max-width: $break-medium)
      // top: -272px
    .glyphicon
      position: relative
      color: green
      left: 1px
      top: 3px
      width: 30px
      font-size: 26px
  .tag-not-selected
    display: none
  .undefined
    display: none

  .tag-image
    width: $tag-size
    overflow: hidden
    display: flex
    justify-content: center
    @media screen and (max-width: $break-medium)
      width: 134px
    img
      height: $tag-size
      -webkit-transition: width 0.5s /* For Safari 3.1 to 6.0 */
      transition: opacity 0.5s
      &:hover
        opacity: 0.9
      @media screen and (max-width: $break-medium)
        height: 134px
  .tag-name
    color: white
    font-family: "HKNovaBold"
    font-size: 19px
    padding: 10px
    &:hover
      text-decoration: none
    @media screen and (max-width: $break-medium)
      bottom: 160px
      font-size: 12px
  .tag-icon
    width: 160px
    display: flex
    justify-content: center
    margin: auto
    img
      height: 160px
      position: relative
      bottom: 185px
      z-index: 5
      @media screen and (max-width: $break-medium)
        height: 120px
        bottom: 135px
        left: -9px
