#tag-component
  $break-medium: 720px
  text-align: center
  margin: 3px
  height: 200px
  @media screen and (max-width: $break-medium)
    height: 134px
  .tag-image
    img
      width: 200px
      height: 200px
      @media screen and (max-width: $break-medium)
        width: 134px
        height: 134px
  .tag-name
    color: white
    font-family: 'HKNovaBold'
    position: relative
    text-transform: uppercase
    bottom: 240px
    font-size: 18px
    @media screen and (max-width: $break-medium)
      bottom: 160px
      font-size: 12px
  .tag-icon
    img
      width: 180px
      height: 180px
      position: relative
      bottom: 200px
      z-index: 5
      @media screen and (max-width: $break-medium)
        width: 120px
        height: 120px
        bottom: 135px
