#tag-component
  $break-medium: 720px
  text-align: center
  margin: 3px
  height: 200px
  width: 200px
  transition: opacity 0.5s
  &:hover
    opacity: 0.7
  @media screen and (max-width: $break-medium)
    height: 134px
    width: 134px
  .tag-image
    width: 200px
    overflow: hidden
    display: flex
    justify-content: center
    @media screen and (max-width: $break-medium)
      width: 134px
    img
      height: 200px
      -webkit-transition: width 0.5s /* For Safari 3.1 to 6.0 */
      transition: opacity 0.5s
      &:hover
        opacity: 0.9
      @media screen and (max-width: $break-medium)
        height: 134px
  .tag-name
    color: white
    font-family: 'HKNovaBold'
    position: relative
    text-transform: uppercase
    bottom: 218px
    font-size: 18px
    &:hover
      text-decoration: none
    @media screen and (max-width: $break-medium)
      bottom: 160px
      font-size: 12px
  .tag-icon
    width: 160px
    display: flex
    justify-content: center
    margin: auto
    img
      height: 160px
      position: relative
      bottom: 185px
      z-index: 5
      @media screen and (max-width: $break-medium)
        height: 120px
        bottom: 135px
        left: -9px
