@import './variables'

$square-info-size: 470px
$square-info-size-mobile: 270px
$team-member-size: 200px
$politician-size: 150px
$politician-mobile-size: 100px
.breaker
  @media screen and (max-width: $break-medium)
    display: none
.team-members
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  padding: 0 50px
  width: 1140px
  margin: auto
  @media screen and (max-width: $break-medium)
    width: auto
  .team-member
    width: $team-member-size
    height: $team-member-size + 130px
    background-size: contain
    background-repeat: no-repeat
    background-color: white
    margin: 0 25px
    padding-top: $team-member-size
    margin-bottom: 25px
    text-align: center
    @media screen and (max-width: $break-medium)
      text-align: center
      width: 122px
      height: 220px
      margin: 0 5px
      padding-top: 120px
    .name
      font-family: 'HKNovaBold'
      padding: 15px 0 5px 0
      background: white
      @media screen and (max-width: $break-medium)
        padding: 5px 0
    .profession
      font-family: 'RobotoRegular'
    .role
      font-family: 'RobotoBold'
  .one
    background-image: url('https://s3.amazonaws.com/misc-assets-seamos/defaultavatar.jpg')
.three
  background-color: #5554a0
  margin-top: 70px
  @media screen and (max-width: $break-medium)
    margin-top: 15px
.politicians
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  padding: 0 80px
  margin-top: 90px
  @media screen and (max-width: $break-medium)
    margin-top: 30px
    padding: 0 10px
  .politician
    background-size: contain
    background-repeat: no-repeat
    background-color: white
    margin: 0 50px
    margin-bottom: 80px
    @media screen and (max-width: $break-medium)
      margin: 0 20px
      margin-bottom: 15px
    .photo
      width: $politician-size
      height: $politician-size
      background-size: contain
      margin: auto
      @media screen and (max-width: $break-medium)
        width: $politician-mobile-size
        height: $politician-mobile-size
    .name
      font-family: 'RobotoBold'
      text-align: center
      padding-top: 15px
      font-size: 20px
      @media screen and (max-width: $break-medium)
        font-size: 14px
    .organization
      font-family: 'RobotoRegular'
      text-align: center
      font-size: 18px
      @media screen and (max-width: $break-medium)
        font-size: 13px
  .one
    align-items: flex-start
    display: block
    height: auto
    .photo
      background-image: url(asset_path('hollman.png'))
  .two
    .photo
      background-image: url(asset_path('juan.png'))
  .three
    .photo
      background-image: url(asset_path('horacio.png'))
  .four
    color: #333333
    .photo
      background-image: url(asset_path('lucia.png'))
  .five
    .photo
      background-image: url(asset_path('diego.png'))
  .six
    .photo
      background-image: url(asset_path('angela.png'))
  .seven
    .photo
      background-image: url(asset_path('emel.png'))
  .eight
    .photo
      background-image: url(asset_path('daniel.png'))
  .nine
    .photo
      background-image: url(asset_path('german.png'))
  .ten
    .photo
      background-image: url(asset_path('jose.png'))
  .eleven
    .photo
      background-image: url(asset_path('yefer.png'))
  .twelve
    .photo
      background-image: url(asset_path('maria.png'))
.four
  background-color: #c6c6c6
  color: #3d5062
.caption
  text-align: center
  font-family: 'RobotoRegular'
  color: #44434c
  font-size: 23px
  line-height: 1em
  padding: 73px 0
  @media screen and (max-width: $break-medium)
    font-size: 14px
    padding: 30px 40px
.square-info-wrapper
  @media screen and (max-width: $break-medium)
    display: flex
    align-items: center
    justify-content: center
  .square-info
    width: $square-info-size
    height: $square-info-size
    background-color: #70b962
    margin-bottom: 95px
    background-repeat: no-repeat
    background-position: center
    color: transparent
    @media screen and (max-width: $break-medium)
      margin-bottom: 35px
      height: $square-info-size-mobile
      width: $square-info-size-mobile
    &:hover
      color: #44434c
      background-color: #c6c6c6
      background-image: none
      font-size: 25px
      line-height: 1.1em
      text-align: left
      padding: 34px
      font-size: 21px
      transition: color 1s
      cursor: default
      @media screen and (max-width: $break-medium)
        font-size: 15px
        padding: 12px
      span
        color: transparent
  .left
    float: right
    background-image: url(asset_path('png_quienes_somos-01.png'))
    .cover
      color: white
      font-family: 'HKNovaBold'
      position: absolute
      font-size: 42px
      left: 418px
      bottom: 140px
      @media screen and (max-width: $break-medium)
        left: 322px
        font-size: 26px
        left: 108px
        bottom: 55px
  .right
    float: left
    background-image: url(asset_path('png_quienes_somos-02.png'))
    .cover
      color: white
      font-family: "HKNovaBold"
      position: absolute
      font-size: 42px
      left: 15px
      width: 470px
      line-height: 43px
      text-align: center
      bottom: 110px
      @media screen and (max-width: $break-medium)
        font-size: 26px
        left: 83px
        width: 270px
        text-align: center
        bottom: 45px
        line-height: 25px
