// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.paginations {}
.profile{
position: relative;
z-index: 0;
}

.profile:hover{
background-color: transparent;
z-index: 50;
}

.profile span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightyellow;
padding: 5px;
left: -1000px;
border: none;
visibility: hidden;
color: black;
text-decoration: none;
}

.profile span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.profile:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */

}

.select-users {
  display: inline-block;
  width: 70%;
  font-size: 14px;
  select {
    margin-bottom: 0;
  }
  input {
    background-color: #286090;
    padding: 2px 12px;
  }
}
