$min-height: 700px;
$margin-bottom-for-footer: 108px;
$break-large: 1200px;
$break-medium: 720px;
$break-small: 320px;
$gray-seamos: rgb(204,204,204);
$green-seamos: rgb(102,204,204);
$move-left: 130px;
