<% content = "<p> Alguien ha solicitado un link para cambiar tu contraseña. Puedes hacerlo a través del siguiente link:</p>
<p> #{link_to  "Reestablece tu contraseña", edit_password_url(@resource, reset_password_token: @token)} </p>
<p> Si no solicitaste esto, por favor ignora este email. </p>
<p> Tu contraseña no será cambiada hasta que ingreses al siguiente enlace y crees uno nuevo. </p>" %>

<%= render partial: 'devise/mailer/partials/simple', locals: { user: @resource, content: content } %>


