<div class="row">
  <div class="MultiCarousel" data-items="1,3,4,4" data-slide="1" id="MultiCarousel" data-interval="1000">
    <div class="MultiCarousel-inner">
      <% discussions.each do |discussion| %>
      <div class="item">
        <div class="pad15">
          <p class="lead"><%= discussion.title %></p>
        </div>
      </div>
      <% end %>
      <% 3.times do %>
        <div class="item">
          <div class="pad15 disabled">
          </div>
        </div>
      <% end %>
    </div>
    <button class="btn btn-primary leftLst">
      <</button> <button class="btn btn-primary rightLst">>
    </button>
  </div>
</div>