<nav>
  <li>
    <a href="http://sifuerapresidente.co" target="_blank" rel="noopener noreferrer"> SIFUERAPRESIDENTE </a>
  </li>
  <li id="this" class="hide-on-mobile">
    <a>QUIENES SOMOS</a>
  </li>
  <li>
    <a href="https://seamosit.github.io" rel="noopener noreferrer"> BLOG</a>
  </li>
  <li>
    <%= link_to  "TEMAS", tags_path %>
  </li>
  <li id="politicians-link">
    <a href="/politicians"> CONCEJALES </a>
  </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to destroy_user_session_path, method: :delete do %>
        SALIR
      <% end %>
    </li>
  <% else %>
  <li>
    <%= button_to user_facebook_omniauth_authorize_path, class: "loginBtn loginBtn--facebook metro" do %>
      Continuar con facebook
    <% end %>
  </li>
  <li>
    <%= button_to user_google_oauth2_omniauth_authorize_path, class: "loginBtn loginBtn--google" do %>
      Continuar con google
    <% end %>
  </li>
  <% end %>
</nav>














