<nav>
  <li class="hide-on-mobile">        
    <a href="http://seamos.co/#/" target="_blank">
      <%= image_tag('LogoSeamos.png', class: "organization-logo") %>
    </a>
  </li>
  <li id="this">
    <a>Quienes somos</a>
  </li>
  <li>
    <a href="https://seamosit.github.io" rel="noopener noreferrer"> Blog</a>
  </li>
  <li>
    <%= link_to  "Temas", tags_path %>
  </li>
  <li id="politicians-link">
    <a href="/politicians"> Concejales </a>
  </li>
  <li class="hide-on-desktop">
    <a href="https://www.facebook.com/seamoscolombia/", target="_blank">
      Facebook
    </a>
  </li>
  <li class="hide-on-mobile">
    <a href="https://www.facebook.com/seamoscolombia/", target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
  </li>
  <div id='sidebar-logos-container' class="hide-on-desktop">
    <li>        
      <a href="http://seamos.co/#/" target="_blank">
        <%= image_tag('LogoSeamos.png', class: "logo") %>
      </a>
    </li>
  </div>
</nav>